.contactb1 {
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    height: 550px;
    width: 800px;
    position: relative;
    top: 70px;
    right: 100px;
    box-shadow: 10px 10px 8px blueviolet;
}

.contactb2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px 50px;
}

.contactb2 form input,
textarea {
    padding: 10px 30px;
    margin: 20px 0px;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

.contactb2 button {
    background-color: blueviolet;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.contactb2 button:hover {
    background-color: white;
    color: black;
}

.contacttext div {
    margin: 20px 0px;
}

.contacttext a {
    text-decoration: none;
    color: white;
}

.contacttext a:hover {
    color: lightblue;
}

.contactb2 form textarea {
    width: 300px;
    height: 200px;
}